<!doctype html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<link rel="canonical" href="https://milligram.github.io/">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="https://milligram.github.io/css/milligram.min.css">
		<link rel="stylesheet" href="https://milligram.github.io/css/style.css">
		<link rel="icon" href="https://milligram.github.io/img/favicon.png">
	</head>
	<body>
		<main class="wrapper">
			<section class="container" id="examples">
				<h1>{{title}}</h1>
				<p>{{body}}</p>
        			<a href="{{author_url}}">Written with <3 by @{{author}}</a>
        			{{tags}}
			</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js"></script>
		<script src="https://milligram.github.io/js/script.js"></script>
	</body>
</html>
